body{
	margin: 0;
}
#container {
    margin: 0 auto;
}

#sidebar {
    float: right;
    width: 15%;
    height: 80vh;
    background: #909898;
}

#content {
    height: 80vh;
    width: 85%;
    overflow: hidden;
    background: #256c34;
    background: -webkit-linear-gradient(#256c34, #12461c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#256c34, #12461c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#256c34, #12461c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#256c34, #12461c);
}

#bottombar{
	border-top: solid 1px #000;
	background: #909898;
    width: 100%;
    height: 20vh;
}

/*Main content*/
#dealer-hand{
    padding-top:30px;
    position: absolute;
    width: 100%;
    height:50%;
}
#dealer-hand #cardBack img{
    width: 107px;
    margin-top: -1.6px;
    margin-left: -2px;
}
#dealer-hand .col-md-1 img{
    width:100px;
    padding-right:10px;
}

#player-hand{
    position: absolute;
    width: 100%;
    bottom: 0px;
    height:50%;
}
#player-hand .col-md-1 img{
    width:100px;
    padding-right:10px;
}

#player2-hand{
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#player2-hand .col-md-1 img{
    width:100px;
    padding-right:10px;
}
/*Round Results*/
#results{
    padding:101px;
    padding-top:130px;
    padding-bottom:50px;
}
#results2{
    padding:101px;
    padding-top:0px;
    padding-bottom:50px;
}
#results h2{
    color: red;
    float:right;
    display:none;
}
#results2 h2{
    color: red;
    float:right;
    display:none;
}


#info, #info2{
    padding-bottom:60px;
    padding-right:101px;
}

#context, #context2{
    color:red;
    float:right;
}

#next{
    display:none;
    position: absolute;
    right: 109px;
}
#next-btn{
    color: red;
    font-size: 17px;
    border: 1px solid red;
    text-align: center;
    cursor: pointer;
    padding: 6px 16px;
    z-index:10;
}
#next-btn:hover{
    text-decoration: none;
}

/*Right sidebar */
#sidebar-container{
    padding-top:10px;
}
.sidebar-text{
    color:white;
}
.player2-text{
    display:none;
}
/*Bottom bar*/

#button-wrapper{
  position: relative;
  height: 100%;
}
#hit, #stay, #double{
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#split{
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
